.account-title {
    margin-top: 128px;
    font-weight: 500;
    font-size: 33px;
    text-align: center;
    color: #000;
}

.account-swich {
    width: 500px;
    margin: 64px auto;
    margin-bottom: 0;
    padding: 5px;
    background-color: #EFEFEF;
    gap: 12px;

    .swich-btn__active {
        background-color: #fff;
        border-radius: 8px;
    }
}

.account-swich-btn {
    display: block;
    width: 236px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #000;
}

.account-fm {
    width: fit-content;
    margin: 126px auto;
    margin-bottom: 247px;
    
    .input-box {
        flex-direction: column;
        gap: 46px;
    }

    input {
        display: block;
        width: 500px;
        padding-bottom: 12px;
        border: none;
        border-bottom: 1px solid #D8D8D8;
        outline: none;
        font-size: 16px;
        color: #707070;
    }

    .check-bl {
        margin-top: 15px;
        gap: 8px;

        input {
            width: 16px;
            height: 17.17px;
        }

        label {
            display: block;
            font-size: 16px;
            color: #000;
        }
    }

    button {
        display: block;
        width: 500px;
        margin-top: 69px;
        padding-top: 16px;
        padding-bottom: 16px;
        background-color: #000000;
        border: 1px solid #000000;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
    }
}

.account-forgotten-link {
    display: block;
    margin-top: 13px;
    font-size: 16px;
    color: #000;
}