.product-cart {
    margin-top: 17px;
    padding-top: 20px;
    padding-bottom: 21px;
    padding-left: 39px;
    padding-right: 24px;
    background-color: #EFEFEF;
    border-top: 2px solid #A18A68;
}

.product-cart-title {
    font-size: 16px;
    color: #000;
}

.product-cart-view {
    display: block;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #A18A68;
}

.product-main {
    margin-top: 128px;
    gap: 63px;
}

.product-main-pictures {
    gap: 39px;

    .pictures-min {
        flex-direction: column;
        gap: 34px;
    }

    .pictures-slider {
        width: 540px;
        height: 0;
        margin-top: 24px;
        border: 2px solid #D8D8D8;
    }
}

.product-main-title {
    font-size: 26px;
    color: #000;
}

.product-main-price {
    margin-top: 23px;
    font-weight: 500;
    font-size: 20px;
    color: #A18A68;
}

.product-main-rating {
    margin-top: 64px;
    gap: 10px;
}

.product-main-desc {
    width: 484px;
    margin-top: 22.36px;
    font-size: 16px;
    color: #707070;
}

.product-main-actions {
    margin-top: 48px;
    gap: 23px;
}

.product-main-quantity {
    width: 102px;
    padding-top: 14px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 12px;
    background: #EFEFEF;
    border-radius: 4px;
    gap: 24px;
    font-size: 16px;
    color: #707070;

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 16px;
        color: #707070;
    }
}

.product-main-add {
    display: block;
    width: 360px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
}

.product-main-about {
    margin-top: 81px;
    gap: 78.24px;

    .liked-btn {
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

.product-main-social {
    gap: 24px;
}

.product-main-info {
    margin-top: 37px;
    flex-direction: column;
    gap: 6px;
    font-size: 16px;

    .info-title {
        color: #000;
    }

    .info-desc {
        margin-left: 16px;
        color: #707070;
    }
}

.product-tabs {
    margin-top: 99px;
    margin-bottom: 39px;
    gap: 96px;
    border-bottom: 1px solid #D8D8D8;

    .tabs-btn {
        display: block;
        padding-bottom: 34px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 20px;
        color: #707070;
    }

    .tabs-btn__active {
        border-bottom: 1px solid #000;
        color: #000;
    }
}

.product-description {
    font-size: 16px;
    color: #707070;
}

.product-similar {
    margin-top: 96px;
    margin-bottom: 250px;
}

.product-similar-title {
    font-size: 26px;
    color: #000;
}

.product-similar-box {
    margin-top: 47px;
}

.product-aditional {
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
}

.product-aditional-title {
    color: #000;
}

.product-aditional-desc {
    margin-left: 10px;
    color: #707070;
}

.product-reviews {
    gap: 87px;
}


.product-reviews-title {
    font-size: 20px;
    color: #000;
}

.product-reviews-content {
    margin-top: 76px;
    flex-direction: column;
    gap: 39px;

    .review-caption {
        gap: 16px;
    }

    .review-title {
        font-size: 20px;
        color: #000;
    }

    .review-date {
        font-size: 14px;
        color: #707070;
    }

    .review-rating {
        margin-top: 16px;
        gap: 10px;
    }

    .review-desc {
        width: 580px;
        margin-top: 24.36px;
        font-size: 16px;
        color: #707070;
    }

    .review-divider {
        width: 580px;
        height: 0;
        margin-bottom: 24px;
        border: 1px solid #D8D8D8;
    }
}

.product-reviews-fm {
    margin-top: 46px;
    flex-direction: column;
    gap: 46px;

    input {
        display: block;
        width: 581px;
        border: none;
        border-bottom: 1px solid #D8D8D8;
        outline: none;
        font-size: 14px;
        color: #707070;
    }

    .review-content {
        height: 85px;
    }

    .review-author {
        height: 65px;
    }

    .review-email {
        height: 55px;
    }

    .check-bl {
        margin-top: -14.48px;
        gap: 8px;

        input {
            width: 18px;
            height: 18px;
        }

        label {
            font-size: 12px;
            color: #707070;
        }
    }

    .rating {
        margin-top: -27.28px;
    }

    .rating-title {
        font-size: 14px;
        color: #707070;
    }
    
    .rating-select {
        margin-top: 45px;
        gap: 10px;
    }

    button {
        display: block;
        width: 123px;
        margin-top: 2px;
        padding-top: 16px;
        padding-bottom: 16px;
        background-color: #000;
        border: 1px solid #000;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        color: #fff;
    }
}

.product-reviews-subtitle {
    margin-top: 11px;
    font-size: 13px;
    color: #707070;
}

