.order-content {
    margin-top: 96px;
    margin-bottom: 253px;
}

.order-title {
    font-size: 26px;
    color: #000;
}

.order-details-box {
    margin-top: 29px;
    flex-wrap: wrap;
    column-gap: 136px;
    row-gap: 39px;

    div {
        width: 221px;
    }
}

.order-details {
    width: 50%;
}

.order-details-title {
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
}

.order-details-desc {
    margin-top: 6px;
    font-size: 16px;
    line-height: 1.2;
    color: #707070;
}

.order-summary-tb {
    width: 580px;
    height: 441px;
    margin-top: 39px;
    padding-top: 39px;
    padding-left: 58px;
    padding-right: 58px;
    background-color: #EFEFEF;

    th,
    td {
        font-size: 16px;
        text-align: left;

        &:first-child {
            width: 70%;
        }

        &:last-child {
            text-align: right;
        }
    }

    th,
    tfoot td {
        padding-bottom: 18px;
        border-bottom: 1px solid #D8D8D8;
    }

    th, tfoot td:first-child {
        text-transform: uppercase;
        color: #000;
    }

    tbody {
        td {
            padding-top: 15px;
            padding-bottom: 15px;
            color: #707070;
        }
    }

    tfoot td {
        color: #707070;
    }
}

.order-summary-tb tbody tr:last-child td {
    padding-bottom: 18px;
    border-bottom: 1px solid #D8D8D8;
}

.order-summary-tb tfoot tr td {
    padding-top: 15px;
}

.order-summary-tb tfoot tr:last-child td {
    border-bottom: none;
    font-weight: 700;
}