.footer {
    margin-bottom: 90px;
    padding-top: 37px;
    border-top: 1px solid #D8D8D8;
}

.footer-nav-list {
    list-style-type: none;
    gap: 41px;

    li {
        a {
            font-size: 16px;
            color: #707070;
        }
    }
}

.footer-newsletter {
    width: 396px;
    padding-bottom: 13px;
    border-bottom: 1px solid #000;

    input {
        display: block;
        width: 250px;
        border: none;
        outline: none;
        font-size: 16px;
        color: #707070;
    }

    button {
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

.footer-info {
    margin-top: 50px;
}

.footer-rights {
    font-size: 16px;
    color: #000;

    a {
        color: #707070;
    }
}

.footer-social {
    gap: 30px;
}
