* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

body {
  width: 1440px;
  margin: 0 auto;
}

.d-b {
  display: block;
}

.d-f {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.d-n {
  display: none;
}

.d-b {
  display: block;
}

.pos-r {
  position: relative;
}

.container {
  margin-left: 96px;
  margin-right: 96px;
}
